<ion-view hide-nav-bar="true">
  <ion-header-bar class="background-color">
    <button  menu-toggle="left" class="button button-icon text-white boder-white header-btn-left">Join</button>
    <div class="h1 title">
    <center>
      <img src="img/logo.png" class="header-img">
    </center>
    </div>
    <button ui-sref="login" class="button button-icon text-white boder-white header-btn-right">Sign in</button>
  </ion-header-bar>
  <ion-content>
      <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

        <ion-tab title="TODAY" icon-on="" icon-off="">
          <!-- Tab 1 content -->
        </ion-tab>

        <ion-tab title="YESTERDAY" icon-on="" icon-off="">
          <!-- Tab 2 content -->
        </ion-tab>

      </ion-tabs>
  </ion-content>
</ion-view>
